{{#partial "content"}}

    <section>
        <div class="container">
            <div class="entry-list">
                <h1>Current entries</h1>
                <ol>
                    {{#each entries}}
                        <li><a href="/detail/{{slug}}">{{title}}</a> {{date}}</li>
                    {{/each}}
                </ol>
                <a href="/new"> New entry </a>
            </div>
        </div>
    </section>
{{/partial}}
{{> base.hbs}}