{{#partial "content"}}

    <section>
        <div class="container">
            <div class="entry-list">
                <article>

                        {{#each entries}}
                            <a href="/detail/{{slug}}"><h2>{{title}}</h2></a><time datetime="2024-10-01 1:00">{{date}}</time>
                            <p>
                                {{#each tags}}
                                    <span class="tag">{{this}}</span>
                                {{/each}}
                            </p>
                        {{/each}}
                </article>
                <a href="/new"> New entry </a>
            </div>
        </div>
    </section>
{{/partial}}
{{> base.hbs}}