{{#partial "content"}}
        <section>
            <div class="container">
                <div class="password">
                    <form action="/password" method="POST">
                        <label for="password">Enter Password</label>
                        <input type="password" name="password" id="password"><br>
                        {{#if slug}}
                            <input type="hidden" name="slug" value="{{slug}}">
                        {{/if}}
                        {{#if redirectTo}}
                            <input type="hidden" name="redirectTo" value="{{redirectTo}}">
                        {{/if}}
                        <input type="submit" value="Submit" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{{/partial}}
{{>base.hbs}}